body {
  background: #f9f9f9;
}

main { 
  width:calc(100% - 450px);
  margin:auto auto;
  height:500px;
  display: -webkit-flex;
  display: flex;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;   
  box-shadow: 1px 1px 7px rgba(74, 74, 74, 0.22);
  background-color:#fff;
}

#canvasContainer {
  background-image:
    linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%, #eee), 
    linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%, #eee);
  background-size:60px 60px;
  background-position:0 0, 30px 30px;
  background-color:#fff;
  display:inline-block;
  
  width:100%;
  height:100%;
  overflow:auto;
  resize: both;
  z-index:99999999;
}

canvas {
  background:rgba(0,0,0,0);
  position:absolute;
}

.layerIcon {
  display:inline;
  position:relative;
  background-color:#ccc;
  width:32px;
  height:32px;
}

#display {
  
  z-index:9999999;
}

h2 { 
  text-align: center;
  font-family: 'Hind Guntur', sans-serif;
  text-transform: uppercase;
  color:#7c7c7c;
  border-bottom: 1px solid #eaeaea;
  margin:8px;
  font-size:18px;
}

#tools {
  width:100px;
  height:100%;
  float:left;
  display:inline-block;
}

#tools ul {
  padding:0;
  list-style: none;
  text-align: center;
}

#tools ul li{
  display:inline-block;
  margin-bottom: 6px;
}

#layers {
  width:250px;
  height:100%;
  float:right;
  position:relative;
  display:inline-block;
}

#layers ul {
  padding:0;
  list-style: none;
}

#layerTools {
  width:100%;
  display:inline-block;
  position:absolute;
  bottom:0;
  border-top:1px solid #d9d9d9;
}

#layerTools ul {
  padding: 0;
  margin: 0;
}

#tools {
  padding:7px;
}

input[type="color"] {
  border:1px solid #eaeaea;
  padding:0px 2px 0px 2px;
  -webkit-appearance:none;
  background-color:#fff;
  height:32px;
  width:32px;
  box-sizing:none;
}

.toolButton {
  border:1px solid #eaeaea;
  -webkit-transition: background-color 270ms; /* For Safari 3.1 to 6.0 */
  transition: background-color 270ms;
  padding:5px;
}

.toolButton:hover {
  background-color:#d8d8d8;
}

.toolButton:active {
  background-color:#adadad;
}

.layerButton {
  padding:5px;
  -webkit-transition: background-color 370ms; /* For Safari 3.1 to 6.0 */
  transition: background-color 370ms;
}

.layerButton:hover {
  background-color:#d8d8d8;
}

.layerButton:active {
  background-color:#adadad;
}

#colourPicker {
  width:100%;
}

#colourPicker #slider {
  width:100%;
}

h5 {
  font-family: 'Hind Guntur', sans-serif;
  text-transform: uppercase;
  font-size:12px;
  font-weight:normal;
  color:#a3a3a3;
  display:inline;
}

b {
  font-family: 'Hind Guntur', sans-serif;
  color:#a3a3a3;
  display:inline;
  font-size:12px;
}